<!-- not using this yet

<div class="panel panel-default">
    
    <div class="panel-heading panel-article" data-link="{{link}}">
        <span class="title">Title: {{title}}</span> →
        <div class="link">Link: {{link}}</div>
    </div>





</div>    

-->