<!-- not using handlebars yet 

<!DOCTYPE html>

<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Scraper</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>    

<body>
    <header class="text-center container-fluid">
        <h1>Scraper Headline</h1>
        <h2>I'm not sure what I'm scraping yet!</h2>
    </header>

    {{{body}}}

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
<script src="assets/javascript/app.js"></script>

</html>

-->